html,
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(202, 37, 37);
}

/*Estilos para configurar las dimensiones de una vista*/
.page-container {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/*Estilos para configurar las dimensiones de una vista con menú desplegable*/
.page-dashboard-container {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
