html,
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(229, 229, 229);
}

/*Estilos para configurar las dimensiones de una vista*/
.page-container {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
}

/*Estilos para configurar las dimensiones de una vista con menú desplegable*/
.page-dashboard-container {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

label {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: black;
}
