.home-container {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  transition: margin-left 0.5s ease;
}

/*Estilos de los contenedores con información de las ventas*/
.sales {
  margin-left: 5%;
  margin-top: 3%;
  width: 20vw;
  height: 20vh;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.sales:hover {
  transform: scale(1.1);
}

.sales-info-container {
  width: 60%;
  text-align: center;
}

.sales-info-container label {
  font-size: 4rem;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
}
